<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/base-layout::head">
    <meta charset="UTF-8">
    <title>Ingresar</title>
</head>
<body class="text-center">
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Gracias por su visita</h5>
                    <p class="card-text">Si desea volver a ingresar favor de iniciar sesion de nuevo</p>
                    <a href="@{/}" class="btn btn-primary">Inicio</a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>